<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
  <div class="feature col">
    <h2>Request-Response</h2>
    <p>RSocket interaction for a request and a single response.</p>
    <a routerLink="/request-response" class="icon-link">
      See example
      <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
    </a>
  </div>
  <div class="feature col">
    <h2>Request-Stream</h2>
    <p>RSocket interaction for a request and a completable stream.</p>
    <a href="/request-stream" class="icon-link">
      See example
      <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
    </a>
  </div>
  <div class="feature col">
    <h2>Fire-And-Forget</h2>
    <p>RSocket interaction for a single one-way message.</p>
    <a href="/fire-and-forget" class="icon-link">
      See example
      <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
    </a>
  </div>
</div>
